client_secrets.json
upload_video.py-oauth2.json

demos/*
!demos/readme.md
#intros/*
!intros/readme.md
roms/*
!roms/c64/readme.md
temp/*
!temp/readme.md
nohup.out
log-playc64intros.txt
log-uploader.txt

intros/C64/counter.txt
intros/C64/latest.txt
intros/C64/nowplaying.txt
intros/C64/savedvideos.txt


C64Music
C64Music/*

sidvibes/sidplayfp-output.txt
sidvibes/sidinfo-*.txt

projectMSDL
projectMSDL/*
